/*
 * Copyright (c) 2020 The ZMK Contributors

 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

#define DEF 0
#define SYM 1
#define NUM 2
#define FUN 3
#define MOU 4

#define MO_TOG(layer) &mo_tog layer layer

&lt {
    tapping-term-ms = <200>;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS BACKSPACE DELETE>;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <NUM SYM>;
            then-layer = <FUN>;
        };
    };

    behaviors {
        hm: home_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        undersqt: under_sqt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp UNDER>, <&kp SQT>;
            mods = <(MOD_LSFT)>;
        };

        commaqmark: comma_qmark {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QMARK>;
            mods = <(MOD_LSFT)>;
        };

        minusdqt: minus_dqt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp DQT>;
            mods = <(MOD_LSFT)>;
        };
            
        fslhlt: fslh_lt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp LT>;
            mods = <(MOD_LSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = ""; 
            bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        //│ TAB         │ B           │ L           │ D           │ W           │ Z           │   │ _ '         │ F           │ O           │ U           │ J           │ ; :         │
            &kp TAB       &kp B         &kp L         &kp D         &kp W         &kp Z             &undersqt     &kp F         &kp O         &kp U         &kp J         &kp SEMI
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────┤
        //│ ESC         │ N           │ R           │ T           │ S           │ G           │   │ Y           │ H           │ A           │ E           │ I           │ , ?         │
            &kp ESC       &kp N         &hm LCTRL R   &hm LGUI T    &hm LALT S    &kp G             &kp Y         &hm LALT H    &hm LGUI A    &hm LCTRL E   &kp I         &commaqmark
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────┤
        //│ TOG MOUSE   │ Q           │ X           │ M           │ C           │ V           │   │ K           │ P           │ . >         │ - "         │ / <         │ ENTER       │
            &tog MOU      &kp Q         &kp X         &kp M         &kp C         &kp V             &kp K         &kp P         &kp DOT       &minusdqt     &fslhlt     &kp ENTER
        //╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                      &to 0         &lt 1 DEL     &kp LSHIFT        &kp SPACE     &lt 2 BSPC    &to 1
        //                                          ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        sym_layer { // Layer 1
            display-name = "SYM";
            bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        //│             │ !           │ @           │ #           │ $           │ %           │   │ ^           │ &           │ *           │ (           │ )           │             │
            &none         &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp PRCNT         &kp CARET     &kp AMPS      &kp STAR      &kp LPAR      &kp RPAR      &none            
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────┤
        //│             │             │             │             │             │             │   │ `           │ \           │ =           │ {           │ }           │             │
            &none         &none         &kp LCTRL     &kp LGUI      &kp LALT      &none            &kp GRAVE    &hm LALT BSLH  &hm LGUI EQUAL &hm LCTRL LBRC &kp RBRC     &none            
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────┤
        //│             │             │             │             │             │             │   │ ~           │ |           │ +           │ [           │ ]           │             │
            &none         &none         &none         &none         &none         &none             &kp TILDE     &kp PIPE      &kp PLUS      &kp LBKT      &kp RBKT      &none            
        //╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                      &trans        &trans        &none             &kp SPACE     &trans        &to 2
        //                                          ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        num_layer { // Layer 2
            display-name = "NUM";
            bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        //│ TAB         │ /           │ 7           │ 8           │ 9           │ -           │   │             │             │ UP          │             │             │ BACKSPACE   │
            &kp TAB       &kp SLASH     &kp N7        &kp N8        &kp N9        &kp MINUS         &none         &none         &kp UP         &none         &none         &kp BSPC          
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────┤
        //│             │ *           │ 4           │ 5           │ 6           │ +           │   │             │ LEFT        │ DOWN        │ RIGHT       │             │ DELETE      │
            &none         &kp STAR      &kp N4        &kp N5        &kp N6        &kp PLUS          &none        &hm LALT LEFT &hm LGUI DOWN &hm LCTRL RIGHT &none        &kp DELETE          
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────┤
        //│             │ 0           │ 1           │ 2           │ 3           │ .           │   │             │             │             │             │             │ ENTER       │
            &none         &kp N0        &kp N1        &kp N2        &kp N3        &kp DOT           &none         &none         &none         &none         &none         &kp ENTER          
        //╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                      &trans        &trans        &hm LSHFT ENTER   &none         &trans        &to 0
        //                                          ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        fun_layer { // Layer 3
            display-name = "FUN";            
            bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        //│ BT CLEAR    │             │ F7          │ F8          │ F9          │ F10         │   │ PROFILE 0   │             │             │ VOL MUTE    │ PLAY/PAUSE  │             │
            &bt BT_CLR    &none         &kp F7        &kp F8        &kp F9        &kp F10           &bt BT_SEL 0  &none         &none         &kp C_MUTE    &kp C_PP      &none            
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────┤
        //│             │             │ F4          │ F5          │ F6          │ F11         │   │ PROFILE 1   │INC BRIGHT   │             │  VOL UP     │  NEXT       │             │
            &none         &none         &kp F4        &kp F5        &kp F6        &kp F11           &bt BT_SEL 1  &kp C_BRI_UP  &none         &kp C_VOL_UP  &kp C_NEXT    &none            
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────┤
        //│             │             │ F1          │ F2          │ F3          │ F12         │   │ PROFILE 2   │DEC BRIGHT   │             │  VOL DN     │  PREV       │             │
            &none         &none         &kp F1        &kp F2        &kp F3        &kp F12           &bt BT_SEL 2  &kp C_BRI_DN  &none         &kp C_VOL_DN  &kp C_PREV    &none            
        //╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                      &none         &trans        &none             &none         &trans        &none
        //                                          ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        MOU_layer { // Layer 4
            display-name = "MOU";
            bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        //│             │             │             │ MV UP       │             │             │   │             │             │ SCR UP      │             │             │             │
            &none         &none         &none         &mmv MOVE_UP  &none         &none             &none         &none         &msc SCRL_UP  &none         &none         &none            
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────┤
        //│             │             │ MV LEFT     │ MV DOWN     │ MV RIGHT    │             │   │             │ SCR LEFT    │ SCR DOWN    │ SCR RIGHT   │             │             │
            &none         &none       &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &none           &none      &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_RIGHT &none         &none            
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────┤
        //│             │             │             │             │             │             │   │             │             │             │             │             │             │
            &trans         &none         &none         &none         &none         &none             &none         &none         &none         &none         &none         &none            
        //╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                      &none         &trans        &mkp MB1          &mkp MB2      &trans        &none
        //                                          ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
    };
};
